
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Add padding to the entire app */
}

/* RecipeContainer component styles */

.RecipeContainer {
    width: 100%;
    margin-bottom: 20px; /* Add bottom margin for separation */
    border: 1px solid #ddd;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.text-content {
    flex: 1;
    padding: 0 20px; /* Add padding to text content */
}

.image-container {
    flex: 1;
    max-width: 50%; /* Adjust max-width to allow more space for text */
    margin-right: 20px; /* Add margin to image container */
    position: relative;
    height: 500px; /* Set a fixed height for the image container */
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.recipe-image {
    border-radius: 8px; /* Add border radius for rounded corners */
}

/* Typography */
h1 {
    font-size: 2rem; /* Equivalent to 'larger' */
    font-weight: 800;
    margin-bottom: 10px; /* Optional: Adjust margin as needed */
}

h3 {
    font-size: 1.5rem; /* Equivalent to 'large' */
    font-style: italic;
    font-weight: 500;
    margin-bottom: 5px; /* Optional: Adjust margin as needed */
}
